<!DOCTYPE html>
<html data-ng-app="pong-pi" data-ng-class="(joined) ? 'in-game' : ''"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="poooooooooonpi">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%- css %>
</head>

<body class="page-body <%= bodyClass %>" <% if(typeof ngController !== 'undefined') { %>data-ng-controller="<%= ngController %>"<% } %>>


<% include partials/notices.ejs %>

<%- body %>


<%- js %>
</body>
</html>
